*{margin:0;padding:0;box-sizing:border-box}
html{font-size:10px}
::-webkit-scrollbar{width:5px}
body{font-family:"Pingfang SC","SourceHanSans CN","Microsoft Yahei","微软雅黑",sans-serif;background:#fff}
a,a:focus,a:hover,a:visited{text-decoration:none}
.brand{width:20rem;margin:5% 0 0 10%}
.left{position:absolute;top:0;left:0;width:50%;padding:5% 0 5% 10%}
.clearfix{clear:both}
.slogan{color:#131b29;text-align:left}
.slogan h1{font-family:"Microsoft Yahei","微软雅黑",sans-serif;margin-top:12rem;font-size:5rem}
.slogan .divide{width:4rem;height:.2rem;margin:3rem 0;background:rgba(19, 27, 41, 0.6)}
.slogan p{font-size:2rem;font-weight:700;line-height:4rem}
.slogan p span{margin-left:1rem;margin-right:1rem;color:#ff4949;font-weight:bolder}
.slogan .link p{margin-top:5rem;font-size:1.5rem;line-height:2rem}
.slogan .link p i{font-size:1rem;font-weight:400;color:#131b29}
.link_addr{margin-top:2.5rem}
.slogan .link .link_addr a svg{width:4rem;margin:0 2rem 0 0;fill:#131b29;transition:.3s ease}
.slogan .link .link_addr a:hover svg{fill:#ff4949;transform:translateY(.5rem)}
.contact{margin-top:5rem}
.contact img{width:10rem;margin-bottom:.5rem}
.contact p{font-size:1.5rem;line-height:2rem}
.contact p .label{margin:0;opacity:.6;color:#131b29}
p.footer{margin-top:4rem;font-size:1.5rem;line-height:2rem;opacity:.6}
.right{position:fixed;top:0;right:0;width:50%;height:100%;text-align:center}
.right img{position:relative;top:50%;width:45rem;max-width:70%;transform:translateY(-50%)}
@media screen and (max-width:1200px){body{padding-top: 3rem;}
.brand{margin-left:auto;margin-right:auto}
.slogan{text-align:center}
.slogan .divide{margin-left:auto;margin-right:auto}
.slogan .link .link_addr a svg{margin:0 1rem;fill:#131b29}
.left,.right{padding-left:0;padding-right:0;position:absolute;float:left;width:100%;height:unset}
.right{top:18rem}
.left{top:45rem}
.right img{position:unset;top:unset;width:45rem;max-width:70%;transform:none}
}
@media screen and (max-width:1000px){html{font-size:8px}
.brand{width:25rem}
}